html {
    font-family: 'Open Sans';
}

body {
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;

    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-size: cover;
}